.alertify-notifier{
    width:300px;
    min-height:45px;
    overflow:hidden;
    background-color:transparent;
    z-index:1;
    color:white;
}
.ajs-error{
    border-bottom:1px solid rgba(0,0,0,.2);
    border-radius:4px;
    border: 2px solid #9f191f;
}
.ajs-success{
    border-bottom:1px solid rgba(0,0,0,.2);
    border-radius:4px;
    border: 2px solid #00a65a;
}
/*#sidebar-collapse .parent{*/
    /*background-color: #00a65a;*/
/*}*/
/*.children > li{*/
    /*background-color: #C8C8C8;*/
/*}*/
/*.children > li a{*/
    /*background-color: #C8C8C8;*/
/*}*/
.parent:hover{
    background-color: #3498DB;
    color: #ECF0F1;
}

.btn{
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}